.booking {
  background-color: var(--verde-natural);
  padding: 1rem;
  color: var(--verde-escuro);
}

.booking form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.booking-label {
  font-size: 1.2rem;
}


.booking-input {
  min-width: 200px;
  min-height: 2.5rem;

  background-color: rgba(0, 0, 0, .1);
  border: none;
  border-radius: 2rem;

  padding: 0 1.5rem;
}

.booking-input:focus {
  outline: none;
}

.booking-input::placeholder {
  font-family: FontAwesome;
  text-align: end;
  color: var(--verde-escuro);
}

.booking-btn {
  width: 100%;
  min-height: 2.5rem;
  
  background-color: var(--verde-claro);
  border: none;
  border-radius: 2rem;

  font-size: 1rem;
  text-transform: uppercase;
  color: var(--verde-escuro);
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .booking form {
    padding: 2rem;
    row-gap: 2rem;
  }

  .form-title {
    font-size: 2rem;
  }

  .booking-label {
    font-size: 1.5rem;
  }

  .booking-input {
    min-width: 300px;
    min-height: 3rem;
  }

  .booking-input::placeholder {
    font-size: 1.2rem;
  }

  .booking-btn::before {
    content: "reservar";
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .booking form {
    padding: 2rem;
    row-gap: 2rem;
  }
  
  .form-title {
    font-size: 2.5rem;
  }

  .booking-label {
    font-size: 2rem;
  }

  .booking-input {
    min-width: 400px;
    min-height: 3.5rem;
  }

  .booking-input::placeholder {
    font-size: 1.5rem;
  }

  .booking-btn {
    min-height: 3.5rem;
    font-size: 1.5rem;
  }

  .booking-btn::before {
    content: "reservar";
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .05rem;
  }
}