.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;

  margin: 0;
  padding: 1rem;
  
  color: var(--verde-escuro);
}

.createdBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .5rem;
}

.createdBy-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.createdBy-social {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.createdBy-social--links {
  font-size: 1.1rem;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: .5rem;
  text-align: center;
}

.credits-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.credits-info {
  font-size: 1.1rem;
}

.credits a {
  color: var(--verde);
  font-size: 1.1rem;
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .general-info {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .general-info {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }

  .createdBy {
    row-gap: 1rem;
  }

  .createdBy-title {
    font-size: 2rem;
  }

  .createdBy-social {
    flex-direction: row;
    column-gap: 1rem;
  }

  .createdBy-social--links {
    font-size: 1.5rem;
  }

  .credits-title {
    font-size: 2rem;
  }

  .credits-info {
    font-size: 1.5rem;
  }

  .credits a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .general-info {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    height: 150px;
  }

  .createdBy {
    row-gap: 1rem;
  }

  .createdBy-title {
    font-size: 1.5rem;
  }

  .createdBy-social {
    flex-direction: column;
    column-gap: 1rem;
  }

  .createdBy-social--links {
    font-size: 1.5rem;
  }

  .createdBy-social--links:hover .fa-brands {
    color: var(--verde);
  }  

  .credits {
    row-gap: 1rem;
  }

  .credits-title {
    font-size: 1.5rem;
  }

  .credits-info {
    font-size: 1.5rem;
  }

  .credits a {
    font-size: 1.5rem;
  }

  .credits a:hover {
    color: var(--verde-claro);
  }
}

@media screen and (min-width: 1201px) {
  .general-info {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    height: 150px;
  }

  .createdBy {
    row-gap: 1rem;
  }

  .createdBy-title {
    font-size: 1.5rem;
  }

  .createdBy-social {
    flex-direction: column;
    column-gap: 1rem;
  }

  .createdBy-social--links {
    font-size: 1.5rem;
  }

  .createdBy-social--links:hover .fa-brands {
    color: var(--verde);
  }  

  .credits {
    row-gap: 1rem;
  }

  .credits-title {
    font-size: 1.5rem;
  }

  .credits-info {
    font-size: 1.5rem;
  }

  .credits a {
    font-size: 1.5rem;
  }

  .credits a:hover {
    color: var(--verde-claro);
  }
}