:root {
  /* Paletas de cores*/
  --verde-escuro: #081c15;
  --verde: #52b788;
  --verde-claro: #95d5b2;
  --verde-natural: #d8f3dc;
  --cinza-claro: #C1BDAE;
  --cinza: #F1F1F1;
  /* Font Family */
  --roboto-font: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "header"
    "main"
    "footer"
  ;

  font-family: var(--roboto-font);
}

header {
  grid-area: header;
  background-color: var(--verde-natural);
}

main {
  grid-area: main;

}

footer {
  grid-area: footer;
  background-color: var(--verde-natural);
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
}