.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  height: calc(100vh - 5rem);
  padding: 1rem;

  background-color: var(--cinza);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.ferramentas-banner {
  display: none;
}

.banner-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  text-align: center;


  height: 100%;
}

.slogan-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--verde-escuro);
}

.slogan-info {
  font-size: 1.5rem;
  color: var(--cinza-claro);  
}

.slogan-btn {
  width: 100%;
  min-height: 3rem;
  
  background-color: var(--verde-claro);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 1em var(--cinza-claro);

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;

  color: var(--verde-escuro);
}

@media screen and (min-width: 320px) and (max-width: 768px) and (orientation: landscape) {
  .banner {
    height: auto;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 .main-info {
   height: auto;
   padding: 2rem;
 }

 .banner {
   padding: 2rem;
 }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .slogan-info {
    line-height: 2rem;
  }

  .slogan-btn {
    width: 40%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main-info {
    padding: 0;
  }
  
  .banner {
    background-image: url("../img/banner-background.jpg");
  }
  
  .banner-slogan {
    row-gap: 3rem;
  }
  
  .slogan-title {
    font-size: 3rem;
  }

  .slogan-info {
    width: 80%;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .slogan-btn {
    width: 40%;
    min-height: 3rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-info {
    padding: 0;
  }

  .banner {
    flex-direction: row;

    background-image: url("../img/banner-background.jpg");
    padding: 1rem;
  }

  .banner picture {
    position: relative;
    width: 50%;
    order: 2;
  }

  .ferramentas-banner {
    display: block;
    width: 100%;
    height: 100%;
  }

  .banner-slogan {
    width: 50%;
    padding: 1rem;
    align-items: flex-start;
  }

  .slogan-title {
    text-align: initial;
  }

  .slogan-info {
    text-align: initial;
    font-size: 1.2rem;
  }

  .slogan-btn {
    width: 40%;
    font-size: .8rem;

    cursor: pointer;
    transition: .3s ease-out;
  }

  .slogan-btn:hover {
    background-color: var(--verde-escuro);
    color: var(--verde-claro);

    transition: .3s ease-out;
  }
}

@media screen and (min-width: 1201px) {
  .main-info {
    padding: 0 1.5rem;
  }

  .banner {
    flex-direction: row;

    background-image: url("../img/banner-background.jpg");
    padding: 1rem;
  }

  .banner picture {
    position: relative;
    width: 50%;
    order: 2;
  }

  .ferramentas-banner {
    display: block;
    width: 100%;
    height: 100%;
  }

  .banner-slogan {
    width: 50%;
    padding: 1rem;
    align-items: flex-start;
  }

  .slogan-title {
    text-align: initial;
  }

  .slogan-info {
    text-align: initial;
    font-size: 1.4rem;
  }

  .slogan-btn {
    width: 40%;
    font-size: .9rem;

    cursor: pointer;
    transition: .3s ease-out;
  }

  .slogan-btn:hover {
    background-color: var(--verde-escuro);
    color: var(--verde-claro);

    transition: .3s ease-out;
  }
}

