.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  

  position: relative;
}

/* Logo */
.fa-box-open {
  color: var(--main-color);
  font-size: 1.2rem
}

.navbar-logo {
  width: 20%;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;

  flex-grow: 2;
}

/* Navbar Menu */
.navbar-menu {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar-menu--links {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .1rem;
  padding: .8rem .8rem .2rem .8rem;
  position: relative;
}

.navbar-menu--links::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-menu--links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Login Menu */
.navbar-login {
  width: 20%;
  display: flex;
  justify-content: end;
}

.navbar-cart {
  border: none;
  background: transparent;
  cursor: pointer;
}

.fa-cart-shopping {
  font-size: .8rem;
}

.navbar-cart:hover {
  color: var(--main-color);
  transition: .2s;
  transform: translateY(-3px);
}

.navbar-login--logIn {
  border: none;
  background: transparent;

  font-size: .7rem;
  font-weight: 700;
  text-transform: uppercase;

  cursor: pointer;
}

.navbar-login--logIn:hover {
  color: var(--main-color);
  transition: .2s;
  transform: translateY(-3px);
}

.navbar-login--signUp {
  background: transparent;
  border: none;

  padding: .3rem .2rem;

  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 700;
  
  cursor: pointer;
}

.navbar-login--signUp:hover {
  color: var(--main-color);
  transition: .2s;
  transform: translateY(-3px);
}

.navbar-hamburger {
  display: none;
}

.close-menu {
  display: none;
}

@media (min-width: 320px) and (max-width: 450px) {
  .navbar-menu {
    position: absolute;
    top: -90vh;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100vw;
    height: 90vh;
    visibility: hidden;
    
    margin: 0 -3rem;

    background-color: var(--secondary-color);
    transition: .8s ease-in-out;

    z-index: 1000;
  }

  .active {
    visibility: visible;
    top: 0;
    transition: .8s ease-in-out;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 3rem;

    border: none;
    background: none;

    font-size: 1.5rem;
    cursor: pointer;
  }

  .navbar-menu--links {
    font-size: 1.1rem;
  }

  .navbar-login {
    position: absolute;
    right: -100vw;
    top: 90vh;
    justify-content: space-evenly;

    width: 100vw;
    height: 10vh;
    visibility: hidden;

    margin: 0 -3rem;

    background-color: var(--main-color);
    transition: .8s ease-in-out;

    z-index: -2;
  }

  .active-login {
    visibility: visible;
    right: 0;
    transition: .8s ease-in-out;
  }

  .navbar-hamburger {
    display: block;
    border: none;
    background: none;

    font-size: 1.250rem;
  }
  
}

@media (min-width: 455px) and (max-width: 890px) {
  .navbar-menu {
    position: absolute;
    top: -90vh;
    flex-direction: column;
    justify-content: space-evenly;

    width: 50vw;
    right: 0;
    height: calc(100vh - 50px);
    visibility: hidden;
    
    margin: 0 -3rem;

    background-color: var(--secondary-color);
    transition: .8s ease-in-out;

    z-index: -1;
  }

  .active {
    visibility: visible;
    top: 50px;
    /* height: 0; */
    transition: .8s ease-in-out;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 3rem;

    border: none;
    background: none;

    font-size: 1.5rem;
    cursor: pointer;
  }

  .navbar-login {
    width: 40%;
  }

  .navbar-hamburger {
    display: block;
    border: none;
    background: none;

    font-size: 1.250rem;
  }
}

@media (min-width: 890px) and (max-width: 1040px) {
  .navbar-menu {
    width: 100%;
  }
}
