.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
}

.logo {
  display: flex;
  align-items: baseline;
  column-gap: .2rem;

  font-size: 1.5rem;
  font-weight: 700;
  color: var(--verde-escuro);  
}

.fa-box-open {
  color: var(--verde);
}

.menu-hamburger {
  background: none;
  border: none;
}

.fa-bars {
  font-size: 1.5rem;
  color: var(--verde-escuro);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 0;

  position: absolute;
  top: 5rem;
  right: 0;
  visibility: hidden;

  transition: .7s ease-out;
  background-color: var(--verde-claro);
  overflow-y: hidden;
}

.show-navbar {
  height: 100vh;
  visibility: visible;
  transition: .7s ease-out;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 80%;

  color: var(--verde-escuro);
}

.navbar-menu li {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 2px solid var(--verde-natural);
}


.navbar-menu--links {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;

  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 100%;

  width: 100%;
  height: 0;

  background-color: var(--verde-escuro);
  transition: .7s ease-out;

  visibility: hidden;
  overflow: hidden;
}

.dropdown-content a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--verde-natural);
  border-bottom: 2px solid var(--verde-natural);
}

.show-dropdown {
  visibility: visible;
  height: 62vh;
  transition: .7s ease-out;
}

.navbar-menu--links {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar-access {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 20%;

  background-color: var(--verde-escuro);
}

.navbar-access--links {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;

  color: var(--verde-natural);
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .logo {
    font-size: 1.8rem;
  }

  .fa-bars {
    font-size: 1.8rem;
  }
  
  .navbar {
    width: 0;
    height: 100vh;
  }

  .show-navbar {
    width: 50vw;
  }
  
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navigation {
    min-height: 7rem;
  }

  .navbar {
    top: 7rem;
  }

  .dropdown-btn {
    font-size: 1.5rem;
  }

  .dropdown-content a {
    font-size: 1.3rem;
    letter-spacing: .2rem;
  }

  .navbar-menu--links {
    font-size: 1.5rem;
  }

  .navbar-access--links {
    font-size: 1.5rem;
  }
  
  .logo {
    font-size: 2.5rem;
  }

  .fa-bars {
    font-size: 2.2rem;
  }
  
  .navbar {
    width: 0;
    height: 100vh;
  }

  .show-navbar {
    width: 50vw;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .navigation {
    justify-content: space-evenly;
  }
  
  .menu-hamburger {
    display: none;
  }

  .logo {
    width: auto;
  }

  .navbar {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 2rem;
    visibility: visible;

    height: 100%;
    width: 80%;

    background-color: transparent;
    overflow-y: visible;
  }

  .navbar-menu {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .navbar-menu li {
    width: auto;
  }
  
  .dropdown-btn {
    font-size: .8rem;
    cursor: pointer;
    padding: .5rem .5rem 0 .5rem;
  }

  .dropdown-btn:hover {
    color: var(--verde-claro);
  }

  .dropdown-click {
    background-color: var(--verde-escuro);
    border-radius: 5px 5px 0 0 ;
    color: var(--verde-natural);
  }
  
  .dropdown-content {
    border-radius: 0 0 5px 5px;
  }
  
  .dropdown-content a {
    font-size: .8rem;
  }

  .dropdown-content a:hover {
    color: var(--verde-claro);
  }

  .dropdown-content a:last-child {
    border: none;
  }
  

  .show-dropdown {
    height: 150px;
  }
  

  .navbar-menu--links {
    width: auto;
    font-size: .8rem;
  }

  .navbar-menu--links:hover {
    color: var(--verde-claro);
  }

  .navbar-access  {
    width: auto;
    column-gap: .8rem;

    background-color: var(--verde-natural);
  }

  .navbar-access--links {
    font-size: .8rem;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--verde-escuro);
  }

  .navbar-access--links:hover {
    transform: scale(2);
    color: var(--verde-claro);
  }
}

@media screen and (min-width: 1201px) {
  .navigation {
    justify-content: space-evenly;
  }
  
  .menu-hamburger {
    display: none;
  }

  .logo {
    font-size: 2rem;
  }

  .navbar {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 2rem;
    visibility: visible;

    height: 100%;
    width: 80%;

    background-color: transparent;
    overflow-y: visible;
  }

  .navbar-menu {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .navbar-menu li {
    width: auto;
  }
  
  .dropdown-btn {
    font-size: .8rem;
    cursor: pointer;
    padding: .5rem .5rem 0 .5rem;
  }

  .dropdown-btn:hover {
    color: var(--verde);
  }

  .dropdown-click {
    background-color: var(--verde-escuro);
    border-radius: 5px 5px 0 0 ;
    color: var(--verde-natural);
  }
  
  .dropdown-content {
    border-radius: 0 0 5px 5px;
  }
  
  .dropdown-content a {
    font-size: .8rem;
  }

  .dropdown-content a:hover {
    color: var(--verde-claro);
  }

  .dropdown-content a:last-child {
    border: none;
  }
  

  .show-dropdown {
    height: 150px;
  }
  

  .navbar-menu--links {
    width: auto;
    font-size: .8rem;
  }

  .navbar-menu--links:hover {
    color: var(--verde);
  }

  .navbar-access  {
    width: auto;
    column-gap: .8rem;

    background-color: var(--verde-natural);
  }

  .navbar-access--links {
    font-size: .8rem;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--verde-escuro);
  }

  .navbar-access--links:hover {
    transform: scale(2);
    color: var(--verde);
  }
}